---
layout: page
title: TTRPG - Campaigns
permalink: /ttrpg/campaigns/
---

{% assign posts = site.posts
  | where_exp: "p", "p.tags contains 'ttrpg'"
  | where_exp: "p", "p.tags contains 'campaigns'"
  | sort: "date"
  | reverse %}

<div class="container">
  <div class="row">
    {% if posts.size == 0 %}
      <div class="col col-12">
        <p>No campaign posts yet.</p>
      </div>
    {% endif %}

    {% for post in posts %}
      {% include article.html %}
    {% endfor %}
  </div>
</div>
